.footer-main {
    height: 40vh;
    background: rgb(13, 8, 53);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    padding-top : 50px;
}

.footer-main .row {
    min-height: 100px;
    color: rgb(131, 131, 131);
}

.col-md-4 {
    text-align: center;
}

.copyright {
    margin-top: auto;
    color: white;
    font-size: 0.8rem;
}