
  .body {
   padding-left: 350px;
   padding-right: 350px;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
  }
  
  label {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
  }
    
   .form-control:focus {
    border-color: #587cac;
    box-shadow: none;
  }
  
  
  .custom-control-label {
    font-weight: 400;
  }
  
  .forgotpwd,
  .forgotpwd a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
    padding-bottom: 50px;
  }
  
  
  
  