a:visited, a:hover, a:active {
    color: inherit;
}

.profile-side-menu-main {
    height: fit-content;
    border: solid 1px rgb(231, 231, 231);
    margin-top: 10px;
    border-radius: 3px;
}

.profile-side-menu-main a {
    width: 150px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    min-height: 30px;
    list-style: none;
    color: rgb(94, 94, 94);
    font-size: 0.8rem;
}

.profile-side-menu-main a:nth-child(1) {
    border-radius: 3px 3px 0 0;
}

.profile-side-menu-main a:last-child {
    border-radius: 0 0 3px 3px;
}

.is-active {
    color: black;
    background: rgb(235, 219, 255);
}

.profile-side-menu-main a:hover {
    background: rgb(247, 241, 255);
}